@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --font-poppins: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-poppins);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
}
